.navbar
{
    background-image: linear-gradient(to left, #56ccf2, #2f80ed), linear-gradient(#3a7bd5, #3a7bd5);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.3);
}

#nav_point
{
    margin-left: 108px;
    margin-top: 7px;
}

#nv_search
{
    margin-left: 150px;
    border-radius: 20px;
    width: 553px;
    height: 33px;
    text-align: left;
    color: rgba(91, 90, 90, 0.33);
    font-family: font/SVN-Gilroy;
    background-image: url("../img/ic_timkiem.png");
    background-size: 20px;
    background-position: 520px 7px;
    background-repeat: no-repeat;
    font-weight: bold;
    color: #525252;
}

.show-on-hover:hover > ul.dropdown-menu {
    display: block;
}

.navbar_left {
    background-image: linear-gradient(to left, #56ccf2, #2f80ed), linear-gradient(#3a7bd5, #3a7bd5);
    padding: 0px;
    min-height: 100%;
    height: 500px;
    margin-top:-20px;
    width: 260px;
}

#nv_content
{
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    font-size: 18px;
    margin-left: -5px;
    color: #3a78cd;
}
.info {
    max-height: 130px;
}

.info>img {
    margin-top: 30px;
    border-radius: 50%;
    box-shadow: 0px 13px 29px 0 rgba(0, 0, 0, 0.32);
}

.module {
    margin-bottom: 15px;
    width: 951px;
    height: 150px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.49);
}

.list-group-item
 {
    font-family: font/SVN-Gilroy;
    color:#323232;
    font-weight: bold;
    font-size: 19px;

}

.list-group-item.a : link
 {
    font-family: font/SVN-Gilroy;
    color:#323232;
    font-weight: bold;
    font-size: 19px;

}

.scrollbar
{
    margin-left: 30px;
    float: left;
    height: 180px;
    width: 900px;
    background: #fff;
    overflow-y: scroll;

}

.force-overflow
{
    min-height: 10px;
}

#wrapper
{
    text-align: center;
    width: 100px;
    margin: auto;
}
.point {
    margin-left: 130px;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: -3px;
    color: #fff
}

.name {
    text-align: center;
    margin-top: 8px;
    color: #fff;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    font-size: 20px
}

.mssv {
    text-align: center;
    margin-top: -8px;
    color: #fff;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    font-size: 15px
}
.panel-heading1 {
    background-color:#1E88E5;
    color: #ffffff;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    border-radius: 8.9px;
    width: 315px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

.panel-heading2 {
    background-color:#ffcc1b;
    color: #ffffff;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    border-radius: 8.9px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    text-align: center
}

.panel-heading3 {
    background-color:#ff1b41;
    color: #ffffff;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    border-radius: 8.9px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    text-align: center
}

.panel-heading4 {
    background-color:#00E676;
    color: #ffffff;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    border-radius: 8.9px;
    width: 420px;
    height: 30px;
    font-size: 20px;
    text-align: center
}

.panel-heading5 {
    background-color:#00B8D4;
    color: #ffffff;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    border-radius: 8.9px;
    width: 285px;
    height: 30px;
    font-size: 20px;
    text-align: center
}

.panel-heading6 {
    background-color:#FF9100;
    color: #ffffff;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    border-radius: 8.9px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    text-align: center
}

.panel-heading7 {
    background-color:#00BFA5;
    color: #ffffff;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    border-radius: 8.9px;
    width: 215px;
    height: 30px;
    font-size: 20px;
    text-align: center
}

.panel-heading8 {
     background-color:#4527A0;
     color: #ffffff;
     font-family: font/SVN-Gilroy;
     font-weight: bold;
     border-radius: 8.9px;
     width: 280px;
     height: 30px;
     font-size: 20px;
     text-align: center
 }

.panel-heading9 {
    background-color:#C51162;
    color: #ffffff;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    border-radius: 8.9px;
    width: 346px;
    height: 30px;
    font-size: 20px;
    text-align: center
}

.panel-heading10 {
    background-color:#4CAF50;
    color: #ffffff;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    border-radius: 8.9px;
    width: 250px;
    height: 30px;
    font-size: 20px;
    text-align: center
}

.cntt_noidung {
    margin-left: 30px;
    margin-top: -12px;
    font-family: font/SVN-Gilroy;
    font-size: 18px;
    font-weight: bold;
    color: #525252;
}

.hh_noidung {
    margin-left: 30px;
    margin-top: -12px;
    font-family: font/SVN-Gilroy;
    font-size: 18px;
    font-weight: bold;
    color: #525252;
}

.tt_noidung {
    margin-left: 30px;
    margin-top: -12px;
    font-family: font/SVN-Gilroy;
    font-size: 18px;
    font-weight: bold;
    color: #525252;
}

.dtvt_noidung {
     margin-left: 30px;
     margin-top: -12px;
     font-family: font/SVN-Gilroy;
     font-size: 18px;
     font-weight: bold;
     color: #525252;
}

.sh_noidung {
    margin-left: 30px;
    margin-top: -12px;
    font-family: font/SVN-Gilroy;
    font-size: 18px;
    font-weight: bold;
    color: #525252;
}

.dc_noidung {
    margin-left: 30px;
    margin-top: -12px;
    font-family: font/SVN-Gilroy;
    font-size: 18px;
    font-weight: bold;
    color: #525252;
}

.mt_noidung {
    margin-left: 30px;
    margin-top: -12px;
    font-family: font/SVN-Gilroy;
    font-size: 18px;
    font-weight: bold;
    color: #525252;
}


.hdh_noidung {
    margin-left: 30px;
    margin-top: -12px;
    font-family: font/SVN-Gilroy;
    font-size: 18px;
    font-weight: bold;
    color: #525252;
}


.vl_noidung {
    margin-left: 30px;
    margin-top: -12px;
    font-family: font/SVN-Gilroy;
    font-size: 18px;
    font-weight: bold;
    color: #525252;
}


.khvl_noidung {
    margin-left: 30px;
    margin-top: -12px;
    font-family: font/SVN-Gilroy;
    font-size: 18px;
    font-weight: bold;
    color: #525252;
}






