<!DOCTYPE html>
<html>
<head>
	<title>Danh sách Trợ lý sinh viên</title>
	<style>
		table, th, td {
    	border: 1px solid black;
    	border-collapse: collapse;
		}
		th, td {
    	padding: 5px;
    	text-align: left;
		}
</style>
</head>
<body>
	<a href="/admin">
		<button>Trang Chủ</button>
	</a>
	<br>
	<a href="/admin/danh-sach-tlsv/them-tlsv">
		<button>Thêm Trợ lý sinh viên</button>
	</a>
	<table>
		<tr>
			<th>Mã Khoa</th>
			<th>Tên</th>
			<th>SĐT</th>
			<th>Email</th>
			<th>Phòng làm việc</th>
			<th></th>
		</tr>
		<% for (var i = 0; i < ds_tlsv.length; i++) { %>
		<tr>
			<td><%= ds_tlsv[i].MaKhoa %></td>
			<td><%= ds_tlsv[i].Ten %></td>
			<td><%= ds_tlsv[i].SDT %></td>
			<td><%= ds_tlsv[i].Email %></td>
			<td><%= ds_tlsv[i].PhongLamViec %></td>
			<td><a href='/admin/danh-sach-tlsv/sua-tlsv/<%=ds_tlsv[i].Ten%>'>
				<button>Sửa TLSV</button>
			</a></td>
		</tr>
		<% } %>
	</table>
</body>
</html>
